* {
    box-sizing: border-box;
}

body {
    background-image: url('fondo.webp');
    background-size: contain;        
    background-repeat: no-repeat;  
    background-position: center;   
    background-attachment: fixed;  
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    color: #000000;
    text-align: center;
    background-color: #000000;
}

.justificar {
    text-align: justify;
}

.header {
    background: linear-gradient(135deg, #06B6D4, #ffffff);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 40px;
}


.header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.info {
    margin: 20px 0;
    font-size: 1.1rem;
}

.info-centro {
    background: #f390cd;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(255, 0, 106);
}

.info-centro:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgb(255, 0, 140); 
}

.header p {
    margin: 5px 0;
}


.nav-toggle {
    background-color: #badeff;
    border: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;   
    left: 10px;          
    top: 10px;           
}

button:hover {
    background: #f362bb; 
}

.navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background: rgb(144, 215, 228);
    padding: 20px;
    text-align: left;
    z-index: 10;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation h2 {
    color: #000000;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    margin-bottom: 10px;
}

.navigation ul li a {
    display: block;
    padding: 12px 18px;
    background: rgba(245, 161, 207, 0.952);
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease;
    font-weight: 500;
    border-right: 2px solid #e72174;
    border-top: 2px solid #e72174;
    border-left: #e72174 solid 2px;
    border-bottom: 2px solid #e72174;
}

.navigation ul li a:hover {
    background: #6d92e2; 
    color: #000000;
    transform: translateX(5px);
}

.navigation ul li a.activo {
    background: #e48080; /* celeste elegante */
    color: #000;
    font-weight: bold;
}

.navigation .close-btn {
    cursor: pointer;
    background: none;
    border: none;
}

.section {
    padding: 20px;
    margin: 20px auto;
    background: rgba(226, 226, 226, 0.8);
    border-radius: 10px;
    max-width: 600px;
    border: 1px solid #1f06ff;
    box-shadow: 0 2px 5px rgb(243, 10, 10);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

.objectives {
    list-style: none;
    padding: 0;
    text-align: left;
}

.objectives li {
    margin: 10px 0;
    background-color: rgb(255, 168, 204);
    padding: 10px;
    border-radius: 10px;
    border-bottom: #ff0180 solid 2px;
}

.objectives li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgb(255, 0, 140); 
}

.resultado {
    background: #a4ecf5;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(5, 111, 129);
}

.resultado:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgb(6, 145, 170); 
}

.contexto {
    background-color: rgba(109, 243, 248, 0.8);
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
    color: #000000;
}

.contexto {
    background: #ffd1d1;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(253, 0, 0);
}

.contexto:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgb(255, 0, 0); 
}

.herramienta {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    background: #f09c9c;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.herramienta:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgb(253, 0, 0); 
}

.herramienta-header h3 {
    margin: 0;
    font-size: 20px;
    color: #000000;
}

.herramienta-header h3 {
    margin: 0;
    font-weight: bold;
}

.subtitulo {
    text-align: left;
    font-size: 22px;
    margin-top: 30px;
    color: #000000;
}

.herramienta-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pdf-box {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.pdf-icon {
    width: 50px;
    margin-right: 15px;
}

.pdf-info {
    display: flex;
    flex-direction: column;
}

.pdf-nombre {
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    color: #333;
}

.ver-btn {
    display: inline-block;
    background-color: #6a00ff;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
}

.ver-btn:hover {
    background-color: #5200c1;
}


#evidencias {
    padding: 20px;
}

.titulo-general {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
}

.card-semana {
    border: 2px solid #816006;
    border-radius: 20px;
    gap: 20px;
    padding: 10px;
    margin-bottom: 30px;
    background: #fff3c0;
    box-shadow: 0px 4px 8px rgb(231, 217, 14);
    transition: transform 0.2s;
}

.card {
    border: 2px solid #378006;
    border-radius: 20px;
    gap: 20px;
    padding: 10px;
    margin-bottom: 30px;
    background: #c8f5c2;
    box-shadow: 0px 4px 8px rgb(0, 255, 21);
    transition: transform 0.2s;
}

.carpet {
    border: 2px solid #8a144f;
    border-radius: 12px;
    gap: 20px;
    padding: 10px;
    margin-bottom: 30px;
    background: #fcb5b5;
    box-shadow: 0px 4px 8px rgb(253, 0, 84);
    transition: transform 0.2s;
}


.numero-semana {
    width: 30px;
    height: 30px;
    background: linear-gradient(135deg,#c2deff,#ff8e8e);
    color: rgb(0, 0, 0);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card-semana:hover {
    transform: translateY(3px);
}

.card:hover {
    transform: translateY(3px);
}

.carpet:hover {
    transform: translateY(3px);
}

.contenido-card p {
    margin-top: 30px;
}

.contenido-card li {
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
}

.header-card h3 {
    margin: 6px;
    color: #000000;
}

.header-card .tag {
    display: inline-block;
    padding: 1px 1px;
    margin-top: 5px;
    border-radius: 12px;
    font-size: 0.85rem;
    color: #000000;
}

.tag.investigacion { background-color: #a7d1ec; }
.tag.diseno { background-color: #e8b5fc; }
.tag.audio { background-color: #b589fd; }

.info-extra {
    display: center;
    gap: 20px;
    margin: 5px 0;
    color: #000000;
    padding: 1px;
    background-color: rgb(163, 0, 0); 
    margin: 1px;
    border-radius: 8px;
}

.info {
    text-align: left; 
    color: #000000;
}


.item {
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    margin-bottom: 6px;
    background-color: #f6f867;
    border-radius: 6px;
}

.evidencia {
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    margin-bottom: 6px;
    background-color: #7e9e6f;
    border-radius: 6px;
}

.itm {
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    margin-bottom: 6px;
    background-color: #f577b2;
    border-radius: 6px;
}

.ver-btn {
    background-color: #f8ec83;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}

.ver-btn:hover {
    background-color: #82e2cf;
}

h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #000000;
    font-size: 1.1rem;
}

/* Estilo general para el contenedor de videos */
#videos {
    padding: 25px;
}

/* Títulos de videos */
.titulo-video {
    font-size: 32px;
    color: #000000;
    margin-bottom: 5px;
}

.subtitulo-video {
    color: #000000;
    margin-bottom: 25px;
}

/* Contenedor de video de YouTube */
.video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* Mantiene formato 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 80px;
}

/* Estilo para el iframe de YouTube */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}

/* Información sobre el video */
.info-video {
    background: #aceb9c;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border: #378006 solid 2px;
}

.info-video:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgb(0, 255, 64); 
}

/* Estilo para las cajas de información */
.info-box {
    background: #f7aef1;
    padding: 12px;
    border-radius: 12px;
    margin-top: 15px;
    border-left:  8px solid rgba(255, 0, 149, 0.89);
}

.info-box:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgb(255, 0, 201); 
}

/* Lista de contenido */
.lista-contenido li {
    margin: 8px 0;
}

/* Nota destacada */
.nota {
    background: #f5bbbb;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(255, 1, 1);
}

.nota:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgb(255, 0, 0); 
}

/* Texto justificado */
.justificar {
    text-align: justify;
}

/* TÍTULOS */
.titulo-reflexion {
    font-size: 2em;
    color: #000000; /* Color del título */
    margin-bottom: 10px;
}

.subtitulo-reflexion {
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 20px;
}

.intro-card {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #000000;
    
}

#contenedorReflexiones {
    margin-top: 20px;
    background: #abada9;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(218, 0, 36);
}

.tarjeta-reflexion {
    margin-bottom: 15px; 
    box-shadow: 0 2px 5px rgb(240, 3, 3); 
    background: #eb9bc3;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(248, 0, 124);
}

.tarjeta-reflexion:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 4px 10px rgb(240, 3, 102); /* Sombra más profunda */
}

.reflexion {
    margin-bottom: 15px; 
    box-shadow: 0 2px 5px rgb(20, 109, 25); 
    background: #b7f7aad2;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(45, 248, 5);
    transition: transform 0.2s;
}
.reflexion:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 4px 10px rgb(102, 255, 0); /* Sombra más profunda */
}

.tarjet {
    margin-bottom: 15px; 
    box-shadow: 0 2px 5px rgb(255, 0, 255); 
    background: #e5a5f5;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(117, 3, 60);
}

.tarjet:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 4px 10px rgb(94, 1, 94); /* Sombra más profunda */
}

.refle {
    margin-bottom: 15px; 
    box-shadow: 0 2px 5px rgb(0, 38, 255); 
    background: #a2a8ff;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(4, 13, 131);
}

.refle:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 4px 10px rgb(25, 0, 255); /* Sombra más profunda */
}


.header-reflexion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.nombre {
    font-weight: bold;
    color: #000000; /* Color del nombre */
}

.fecha {
    font-size: 0.9em;
    color: #000000;
}

.colectiva-card {
    background: linear-gradient(to right, #b0c0ee, #ff91da);
    color: rgb(0, 0, 0);
    padding: 25px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 12px rgb(72, 90, 255);
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(224, 41, 154);
}

.colectiva-card:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 4px 10px rgb(94, 1, 94); /* Sombra más profunda */
}


.colectiva-card h3 {
    font-size: 22px;
}

.colectiva-card p {
    margin-top: 10px;
}


.content {
    margin-top: 20px;
}

.agradecimiento {
    background: #cafdad;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid rgb(145, 255, 0);
}

.agradecimiento:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 4px 10px rgb(0, 255, 13); /* Sombra más profunda */
}

/* Responsivo */
@media (max-width: 200px) {
    .header {
        padding: 20px;
    }

    .header h1 {
        font-size: 1.8rem;
    }

    .header h2 {
        font-size: 1.2em;
    }

    .navigation {
        width: 900px; /* Más ancho en móviles */
    }
    .herramienta-header h3 {
        font-size: 100px; /* Ajuste de tamaño para móviles */
    }

    .info {
        padding: 15px;
        font-size: 0.9rem;
    }

    .nav-toggle {
        padding: 8px 15px; /* Ajusta el botón */
    }

}